/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 1440px) {

    .container,
    .aboutBanner .lftSec {
        width: 1266px;
    }

    section.contactSetion h3.title {
        width: 30%;
    }


    .listing.sold .container .propertyList {
        width: 100%;
    }

    .listing.sold .container .propertyList .propertyBox {
        margin: 0 30px 80px 30px;
        width: 300px;
    }

    .listing .container .propertyList .loadMore {
        width: 86%;
    }

    .listing .container .sort .links .button {
        font-size: 0.95em;
    }

    section.about .container .rgtSec .links {
        top: 8%;
        left: 7%;
    }

    .gallery .gallery {
        height: 550px;
        /*background: #cccccc;*/

        .thumbs {
            img {
                /*margin: 0 0 26px;*/
            }
            /*background: #999;*/
            .tns-controls {
                button {
                    height: 27px;
                    width: 15px;
                }
            }
        }

        .bigImage {
            width: 66%;
        }
    }

    .meetingbanner {
        height: 600px;

        &:before {
            bottom: 46%;
            font-size: 2em;
            /*color: #fff;*/
        }
    }

    .steps .container .step div strong {
        height: 60px;
        font-size: 1.2em;
    }

    .listing.sold .container .propertyList #contentList {
        justify-content: center;
    }

}

@media only screen and (max-width : 1366px) {
    .container {
        width: 1200px;
    }

    .tns-controls {
        margin: 0 0;
        width: 100%;
    }

    #featured-ow .tns-controls {
        margin: 0;
        width: 100%;
    }

    .logo {
        width: 200px;
    }

    header {

        nav {
            padding: 19px 0;

            ul li a {
                font-size: 1em;
            }
        }
    }

    .banner .lftSec p {
        font-size: 2.5em;
    }

    .title {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2em;
    }

    .propertyBox {
        >div {
            &.propertySaleType {
                font-size: 0.8em;
            }

            &.propertyTitle {
                font-size: 1.2em;
            }

        }

    }


    section.contactSetion .social a {
        margin: 0 26px 0 0;
        width: 30px;
    }

    section.contactSetion .phNo a {
        font-size: 2.2em;
    }

    section.contactSetion .container {
        width: 1000px;
    }

    footer .copy {
        font-size: 0.9em;
    }

    .contactBanner {
        height: 450px;

        .links {
            width: 95px;

            a {
                height: 40px;
                width: 40px;
            }
        }
    }

    .custom-select select {
        font-size: 1.2em;
    }

    .range label {
        font-size: 1em;
    }

    .range .range-slider .range_vals span {}

    .range .range-slider .range_vals {
        font-size: 2.2em;
    }

    .search .s input {
        font-size: 1.7em;
    }

    .listing .container .sort .links .button {
        padding: 13px 20px;
    }

    .gallery .gallery {
        height: 550px;
        /*background: #cccccc;*/

        .thumbs {

            /*background: #999;*/
            .tns-controls {
                button {
                    height: 27px;
                    width: 15px;
                }
            }
        }
    }

    section.about .container .rgtSec .links {
        width: 45%;
        top: 10%;
        left: 3%;
    }

    section.about .container .rgtSec .links p {
        text-align: center;
    }

    .steps .container .step div strong {
        height: 55px;
        font-size: 1em;
    }

    .listing.sold .container .propertyList #contentList {
        justify-content: center;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 5%;
        width: 90% !important;
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .button {
        font-size: 0.9em;
        padding: 10px 20px !important;
    }

    .secondaryBtn {
        font-size: 0.9em !important;
        padding: 10px 20px;
    }

    header {
        position: relative;
        /*overflow: hidden;*/
        z-index: 2;

        .logo {
            width: 150px;
            margin: 20px 0;
        }

        nav {
            .hamburger {
                background: @rust;
                float: right;
                width: 30px;
                height: 4px;
                position: relative;
                transition: background linear 0.3s;
                margin: 20px 0;

                &:after,
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 4px;
                    background: @rust;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(0, -8px);
                    transition: transform linear 0.3s;
                    transform-origin: center;
                }

                &:after {
                    bottom: 0;
                    top: unset;
                    transform: translate(0, 8px);
                }
            }

            ul {
                position: absolute;
                top: -400px;
                right: 0;
                background: @rust;
                width: 250px;
                padding: 20px 0;
                transition: top linear 0.3s;

                li {
                    text-align: center;
                    border-bottom: 1px solid #fff;
                    padding: 15px 0;
                    width: 80%;
                    margin: 0 10%;

                    &:nth-child(5) {
                        border: none;
                    }

                    &:last-child {
                        border: none;
                        margin: 10px 10% 20px;
                        padding: 0;
                    }

                    a {
                        color: #fff;

                        &:after {
                            display: none;
                        }

                        &.button {
                            background: #fff;
                            color: @rust;
                            margin: 0;
                        }
                    }
                }
            }

            &.active {
                .hamburger {
                    background: #fff;

                    &:before {
                        transform: translate(0, -0px) rotate(-45deg);
                    }

                    &:after {
                        transform: translate(0, -0px) rotate(45deg);
                    }
                }

                ul {
                    top: 70px;
                    z-index: 5;
                }
            }
        }
    }

    footer {
        .copy {
            width: 100%;
            justify-content: center;
        }
    }

    section.featured {
        .container {
            margin: 0;
            overflow: hidden;
            width: 100% !important;

            .title {
                margin: 50px 0 0;
            }
        }
    }

    .propertyBox {
        >div.propertyImage {
            display: block;
            margin: -50px 0 0;

            x img {
                display: block;
                height: auto;
            }
        }
    }

    .steps {
        display: flex;
        margin: 50px 0;

        .container {
            display: block;

            .step {
                width: 100%;
                transform: translate(0px, 0px) !important;
                margin: 0 0 40px;

                &:nth-child(2n) {
                    flex-direction: row-reverse;
                }

                span {
                    line-height: 1;
                    margin: 0 20px;
                }

                div {
                    width: 70%;

                    img {
                        display: none;
                    }

                    strong {
                        position: relative;
                        left: unset;
                        top: unset;
                        background: #a9a9a9;
                        padding: 10px;
                        width: 100%;
                        font-size: 1.3em;
                        font-weight: 400;
                    }


                }
            }
        }
    }

    section.contactSetion {
        .container {
            flex-direction: column;
            padding: 50px 5%;

            >div {
                width: 100%;

                &.rgtSec {
                    padding: 40px 0 0;
                    border-top: 1px solid #788787;
                    margin: 50px 0 0;

                    .form {
                        p {
                            &:last-child {
                                flex-direction: column;

                                .button {
                                    margin: 0 0 10px;
                                }

                                label {
                                    margin: 0;
                                    height: 47px;
                                    width: 100%;
                                }
                            }

                            .button {
                                border-radius: unset;
                            }
                        }
                    }
                }

                h3.title {
                    width: 50%;
                }

                .phNo {
                    margin: 60px 0 50px;
                }
            }
        }
    }

    section.about .container.btmSec .content p {
        display: inline-block;
        text-align: justify;
    }

    .banner {
        margin: 30px 0 0;

        .container {
            flex-direction: column-reverse;

            .lftSec {
                width: 100%;
                margin: 10% 0;

                p {
                    font-size: 2.3em;
                }
            }

            .rgtSec {
                display: block;
                width: 100%;

                img {
                    display: block;
                    height: auto;
                    width: 100%;
                }
            }
        }

        &.contactBanner {
            height: auto;

            .container {
                margin: 0;
                width: 100% !important;

                .rgtSec {
                    position: relative;
                    top: 0;
                    right: 0;
                }

                .lftSec {
                    margin: 30px auto;
                    width: 70%;

                    div {
                        margin: 10px 0 30px;

                        &.links {
                            width: 100px;

                            a {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }

        &.meetingbanner {
            height: auto;
            margin: 0;

            &:before {
                font-size: 1.5em;
                bottom: 20%;
            }
        }

        &.aboutBanner {
            display: flex;
            flex-direction: column;
            margin: 0;

            .lftSec {
                position: relative;
                top: 0;
                transform: none;
                left: 0;
                width: 80%;
                margin: 20px auto 0;

                div {
                    text-align: left;
                    line-height: 1.4;
                    margin: 10px 0 0;
                }

                .links {
                    margin: 50px 0 0;
                    flex-direction: row;
                    width: 100%;
                }
            }

            .img {
                display: block;

                .desktop {
                    display: none;
                }
            }
        }

        &.listing {
            display: flex;
            flex-direction: column;
            margin: 30px 0 0;

            .container {
                margin: 0;
                width: 100% !important;

                .lftSec {
                    position: relative;
                    top: 0;
                    transform: none;
                    left: 0;
                    width: 80%;
                    margin: 20px auto 0;

                    p {
                        font-size: 1.8em;
                    }

                    div {
                        text-align: left;
                        line-height: 1.4;
                        margin: 10px 0 0;
                    }

                    .links {
                        margin: 50px 0 0;
                        display: block;
                        width: 100%;

                        a {
                            display: inline-block;
                            margin: 0 20px 20px 0;
                        }
                    }
                }

                .img {
                    .desktop {
                        display: none;
                    }
                }
            }
        }
    }

    .aboutme {
        display: flex;
        width: 100%;

        .container {
            margin: 50px 5%;
            flex-direction: column-reverse;

            >div {
                width: 100%;

                &.rgtSec p {
                    width: 100%;
                    text-align: justify;

                    .secondaryBtn {
                        padding: 7px 35px;
                        font-size: 0.9em;
                    }
                }

                &.lftSec {
                    /*margin: 20px 0 0;*/

                    img {
                        margin: 0 0 10%;
                        width: 80%;
                    }
                }
            }
        }
    }

    .selling {
        .container {
            padding: 30px 0;

            .title {
                margin: 0 0 30px;

                &:after {
                    margin: 20px auto 0;
                }
            }

            p {
                width: 100%;
                margin: 0 0 20px;
            }
        }
    }

    .testimonials {
        .container {
            margin: 80px 0 20px;
            width: 100% !important;

            .tns-ovh {
                padding: 40px 0 30px;
            }

            p {
                margin: 0 auto;
                text-align: center;
                width: 90%;

                &:last-child {
                    text-align: center;
                    margin: 30px auto 0;
                }
            }
        }
    }

    section.about {
        .container {
            .rgtSec {
                width: 100%;

                .links {
                    display: none;
                }
            }

            .lftSec {
                .title {
                    width: 70%;
                }

                a {
                    width: 43%;
                    display: block;
                }

            }
        }
    }

    .sellHome {
        flex-direction: column;
        height: auto;

        img {
            position: relative;
            bottom: 0;
            left: 0;
            transform: unset;
        }

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .aboutme {
        .container {
            >div.rgtSec {
                p {
                    margin: 0 0 20px;

                    &:last-child {
                        margin: 0 0 20px;
                    }
                }
            }
        }
    }

    .services {
        .container {
            .icons {
                margin: 0;
                width: 100%;
                flex-direction: column;

                .icon {
                    width: 100%;
                    flex-direction: row;
                    padding: 5%;
                    margin: 0 0 5%;
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 50px;
                    }

                    p {
                        margin: 0 0 0 5%;
                        text-align: left;
                    }
                }
            }
        }
    }

    .package {
        margin: 100px 0 50px;

        .container {
            flex-direction: column;

            .pkg {
                width: 80%;
                text-align: center;
                margin: 0 0 15%;

                &:nth-child(2) {
                    margin: 0 0 15%;
                    transform: none;

                    &:before {
                        width: 15%;
                        height: 15%;
                        top: -6.9%;
                    }
                }
            }
        }
    }

    .search {
        .s {
            margin: 30px 5% 50px;

            input {
                font-size: 1.2em;
            }

            button {
                width: 8%;
            }
        }

    }

    .listing {
        .container {
            margin: 0 5% 10%;
            flex-direction: column;

            .mobile.sort.button {
                display: inline-block;
                width: 90%;

                &:before {
                    margin: 0 5% 0 0;
                }
            }

            .sort {
                display: none;
                width: 90%;
            }

            .propertyList {
                width: 100%;

                .noProperty {
                    flex-direction: column;
                    margin: 0 auto;
                    max-height: unset;
                    font-size: 1.2em;
                    width: 88%;
                    text-align: center;

                    .secondaryBtn {
                        font-size: unset;
                        width: auto;
                        margin: 30px auto 0;
                        padding: 10px 20px;
                        max-height: unset;
                    }
                }

                #contentList {
                    justify-content: center;
                    width: 100%;

                    a {
                        margin: 50px 0 30px;

                        .propertyBox {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .details {
        .container {
            .propertySaleType {
                font-size: 1em;
            }

            .propertyTitle {
                font-size: 1.6em;
                line-height: 1.4em;
            }

            .propertyExtraDetails {
                margin: 20px 0;
            }

            .propertyExtraDetails p {
                width: 25px;
                height: 25px;
                margin: 0 30px 20px 0;

                span {
                    line-height: 1;
                }
            }

            .propertyDesc {
                width: 100%;

                &:before {
                    margin: 0 0 40px;
                }
            }
        }
    }

    .gallery {
        .gallery {
            height: auto;
            flex-direction: column;

            .bigImage {
                display: none;
                width: 100%;
            }

            .thumbs {
                flex-direction: row;
                margin: 0 auto;
                width: 100%;

                #gallery-ow,
                #gallery-mw {
                    height: auto !important
                }

                .tns-controls {
                    bottom: -55px;
                    padding: 5px 0;
                    button {
                        width: 10px;
                        height: auto;
                    }
                }

                #gallery {
                    display: block;
                }
            }
        }
    }
    .details {
        margin: 80px 0 0;
    }
    section.featured.viewMoreProperties .links {
        margin: 0px 0 50px;
    }

    .aboutBanner {
        .lftSec {
            p {
                color: @rust;
                &:before {
                    background: @rust;
                }
            }

            div {
                color: @rust;
            }

            .links {
                a {

                    &.button {
                        background: @rust;
                        color: #fff;
                    }

                    &.secondaryBtn {
                        color: @rust;
                        border-color: @rust;
                    }
                }
            }
        }
    }
}